[Unit]
Description=The Salt Master Server
After=syslog.target network.target

[Service]
Type=notify
ExecStartPre=/usr/lib/salt/bind-directories \
             /rw/usrlocal/srv/salt:/srv/salt \
             /rw/usrlocal/srv/pillar:/srv/pillar \
             /rw/usrlocal/etc/salt:/etc/salt \
             /rw/usrlocal/var/cache/salt:/var/cache/salt \
             /usr/bin/python:/usr/local/bin/python
ExecStart=/usr/bin/salt-master

[Install]
WantedBy=multi-user.target
